* {
  box-sizing: border-box;
  font-family: menlo, monospace;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  background: #000;
  color: #4BBFAB;
}

h1 {
  margin: 0 0 1em;
  font-size: 1em;
  font-weight: 400;
}
h1.target-lock {
  color: #000;
  /*font-size: 3rem;*/
  text-align: center;
  background: #FF406E;
  padding: 5px;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* BLINKS */
.blink {
  animation: blink-animation 0.15s steps(4, start) 4;
  -webkit-animation: blink-animation 0.15s steps(4, start) 4;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}


/* LOGOS */
#text-logo {
  display: block;
  height: auto;
  margin: 0px auto;
  margin-bottom: 6rem;
  padding: 5rem 0 0 0;
  width: 50%;
}

#head-logo {
  display: block;
  height: auto;
  margin: 0px auto;
  margin-top: 10rem;

  width: 90%;
  background-color: #000;
}

#head-logo.bottom {
  bottom: 0;
  position: absolute;
  width: 90%;
  left: 5%;
  background-color: #000;
}

/* FORM INPUTS */
label {
  display: block;
  font-size: 0.9em;
  margin: 0 0 0.4em;
}
input, button {
  border-radius: 4px;
  font-family: inherit;
  font-size: inherit;
  display: block;
  line-height: 1;
  /*font-size: 2em;*/
  /*margin: 2rem auto 0px;*/
  /*padding: 30px;*/
  /*text-transform: uppercase;*/
}

input {
  padding: 0.4em 0.6em;
  background: none;
  border: 1px solid currentColor;
  width: 100%;
  color: currentColor;
  outline: none;
  box-shadow: 0 0 1em rgba(75, 191, 171, .8);
}

button {
  background: #4BBFAB;
  width: 100%;
  padding: 0.5em 0.6em;
  border: 0;
  color: #000;
}
button[disabled] {
  opacity: 0.6;
}

/*button:hover,
button:active {
  background: #FF406E;
}*/
